body{
    margin: 0;
    padding: 0;
}
.content{
    display: flex;
    height: 780px;
    width: 100%;
    background-color: #fafafa;
    justify-content:space-between;
}
.mapa{
    width: 50%;
    padding-top: 20px;
     
    
  
}
.texto{
    width: 50%;
    text-align: center;
    padding: 20px;
}
.content-1{
    display: flex;
    height: 750px;
    background-color: #fafafa;
    justify-content: space-around;
    background-image: url(../img/Design\ sem\ nome.png);
    background-position: 30% 45%;
    background-size: cover;

    align-items: center;
}
.content-2{
    display: flex;
    height: 400px;
    width: 100%;
    background-color: #fafafa;
    justify-content: center;
    text-align: center;
    align-items: center;


}
main{
    background-color: #fafafa; 
}



.footer{
    display: flex;
    width: 100%;
    height: 130px;
    background-color:white;
    text-align: center;

    margin-top: 0; 
    padding-top: 0; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.img{
    display: flex;
    grid-gap: 10px;

}
.creditos{
    display: flex;
    width: 100%;
    
    background-color:white;
    text-align: center;
    justify-content: center;
    align-items: center;

}
.creditos h5{
    padding-top: 5px;
}
.creditos img{
    margin-right: 5px;
}
.copy{
    font-size: 13px;
}

a.caption-login {
    text-decoration: none;
    color: inherit;
 
   
    

}


a.caption-login:hover {
    color: #fdde5b;

}

.app {
    margin: 20px auto;
    padding: 20px;
    border: 2px solid #afff85;
    border-radius: 10px;
    max-width: 45%;
    background-color: #a8ff90; 
    margin-bottom: 0; 
    padding-bottom: 0;    
    position: relative;
}

.container-app {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-content {
    width: 60%;
    padding: 20px;
}

.right-content {
    width: 100%;
    transform: translateY(-20px);
    overflow: hidden;
}

.qr-code {
    max-width: 30%;
    height: auto;
}

.phone img {
    border-radius: 10px;
    transform: translateX(0); /* Removi o deslocamento lateral para manter a imagem fixa */
    max-width: 100%; 
    height: auto;
    position: relative; /* Usei `relative` para facilitar o controle da posição */
    bottom: 0; /* Garante que a imagem fique na parte inferior do contêiner */
}

.app-content {
    width: 100%;
    height: 400px;
}


.texto h2{
    margin:15px 0 ;
    font-family: 'Poppins', sans-serif;
    
}
.texto p{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: #333;
}
.card-img-top{
    height: 200px;
    object-fit: cover; 
}
.conteudo-pai {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 55vh;
    margin: 0;
    background-color: #fafafa ;
}
.conteudo-1 {
    display: flex;
    gap: 40px;
}
.section {
    text-align: center;
    max-width: 300px;
}
.section img {
    width: 200px;
    height: auto;
    margin-bottom: 15px;
}
.section h3 {
    font-size: 23px;
    margin: 15px 0;
    color: #333;
    font-family: 'Poppins', sans-serif;


}
.section p {
    color: black;
    font-size: 14px;
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
    

}
